<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.generator.dao.MysqlTablesMapper">

    <resultMap id="BaseResultMap" type="com.project.generator.model.MysqlTables">

        <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog"/>
        <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema"/>
        <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName"/>
        <result column="TABLE_TYPE" jdbcType="VARCHAR" property="tableType"/>
        <result column="ENGINE" jdbcType="VARCHAR" property="engine"/>
        <result column="VERSION" jdbcType="BIGINT" property="version"/>
        <result column="ROW_FORMAT" jdbcType="VARCHAR" property="rowFormat"/>
        <result column="TABLE_ROWS" jdbcType="BIGINT" property="tableRows"/>
        <result column="AVG_ROW_LENGTH" jdbcType="BIGINT" property="avgRowLength"/>
        <result column="DATA_LENGTH" jdbcType="BIGINT" property="dataLength"/>
        <result column="MAX_DATA_LENGTH" jdbcType="BIGINT" property="maxDataLength"/>
        <result column="INDEX_LENGTH" jdbcType="BIGINT" property="indexLength"/>
        <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree"/>
        <result column="AUTO_INCREMENT" jdbcType="BIGINT" property="autoIncrement"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="TABLE_COLLATION" jdbcType="VARCHAR" property="tableCollation"/>
        <result column="CHECKSUM" jdbcType="BIGINT" property="checksum"/>
        <result column="CREATE_OPTIONS" jdbcType="VARCHAR" property="createOptions"/>
        <result column="TABLE_COMMENT" jdbcType="VARCHAR" property="tableComment"/>
    </resultMap>
    <sql id="Base_Column_List">

        table_catalog,table_schema ,table_name,table_type,engine,version,row_format,
    table_rows,avg_row_length,data_length,max_data_length,index_length,data_free,auto_increment,create_time,update_time,
    check_time,table_collation,
        checksum,create_options,table_comment
    </sql>

    <select id="selectByCondition" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Mar 23 20:08:36 CST 2021.
        -->
        select
        <if test="queryModel != null and queryModel.distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from information_schema.tables
        <if test="queryModel != null">
            <include refid="public.Where_Clause"/>
        </if>
        <if test="queryModel != null and queryModel.orderByClause != null">
            order by ${queryModel.orderByClause}
        </if>
    </select>

    <select id="countByCondition" resultType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Mar 23 20:08:36 CST 2021.
        -->
        select count(*) from information_schema.tables
        <if test="queryModel != null">
            <include refid="public.Where_Clause"/>
        </if>
    </select>

</mapper>